
/* 
    Created on : 18-Dec-2014, 12:52:27 PM
    Author     : dev
*/
.unseen{
    display:none;
}
.font20{
    font-size: 20px;
}
.afterActionMessageBox{
    background-color: #60AFFE;
}
.validationErrorsBox{
    background-color: #EE6363;
}

.toggleChlist{
    background-color:inherit;
    border: none;
}

.toggleCheck{
    background-color:inherit;
    border: none;
}

